<%= form_with url: parties_path, method: :post, local: true do |form| %>
  <%= form.label 'Movie Title', "Movie Title: #{movie.title}"  %><br>
  <%= form.label(:duration, 'Duration of Party:') %>
  <%= form.number_field :duration, required: true,
  value: movie.runtime, min: movie.runtime  %><br>
  <%= form.hidden_field(:movie_id, value: movie.api_id) %>
  <%= form.label 'Day: ' %>
  <%= form.date_select :day, selected: Date.today,
  min: Date.today, max: 1.year.from_now %><br>

  <%= form.label 'Start Time: ' %>
  <%= form.number_field :hour, min: 1, max: 12, value: 1 %>
  <%= form.number_field :minute, min: 0, max: 59, value: 0 %>
  <%= form.select :am_pm, ["AM", "PM"] %>

  <h4>Include</h4>

  <% friends.each do |friend| %>
    <%= form.check_box "invited[#{friend.id}]", {:class => "myclass", :style => "mystyle"}, "#{friend.id}", "false" %>
    <%= form.label "#{friend.email}" %>
  <% end %>
  <%= form.submit('Create Party') %>
<% end %>
