<h1>Welcome <%= current_user.email %>!</h1>

<%= button_to 'Discover Movies', discover_index_path, method: :get %>

<section class="friends">
  <h3>Friends</h3>
<%= render partial: 'add_friend' %>
<%= render partial: 'friend_list' %>
</section>

<section class="parties">
  <h3>Viewing Parties</h3>
  <% @parties.each do |party| %>
    <%= party.movie.get_details.title %><br>
    <%= party.date %><br>
    <%= party.start_time %><br>
    <% if party.host_id == current_user.id %>
        <p>Hosting</p>
      <% else %>
        <p>Invited</p>
      <% end%>
  <% end %>
</section>
