<center>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-8">Welcome <%= current_user.email %>!</h1>
  </div>
</div>

<div class='dash-btn'><%= button_to 'Discover Movies', discover_index_path, method: :get %></div>

<section class="friends">
  <h3>Friends</h3>
<%= render partial: 'add_friend' %>
<%= render partial: 'friend_list' %>
</section>

<%= render partial: 'viewing_parties',
locals: { parties: @parties } %>
</center>
