<h1><%= @movie_info.title %></h1>

<%= image_tag "#{@movie.send_poster_info}" %><br>

<%= button_to "Create Viewing Party for #{@movie_info.title}", new_party_path,
 params:{api_id: "#{@movie_info.api_id}"}, method: :get %><br>

<h4> Summary </h4>
<%= @movie_info.summary %>

<h4> Runtime </h4>
<%= @movie_info.hours %> hr <%= @movie_info.minutes %> min

<h4> Genre(s) </h4>
<% @movie_info.genres.each do |hash|  %>
<li><%= hash[:name] %></li>
<% end  %>

<h4> Vote Average </h4>
<%= @movie_info.vote_average %>

<h4> Cast </h4>
<% @details[:all_cast].each do |member| %>
<li><%= member[:name] %> as <%= member[:character] %></li>
<% end %>

<h2>Reviews</h2>
Total Reviews: <%= @details[:all_reviews].count %>
<div class="container">
  <blockquote class="blockquote-reverse">
    <% @details[:all_reviews].each do |review| %>
      <p><%= review[:content] %> <footer> <%= review[:author] %></footer></p><br>
    <% end %>
  </blockquote>
</div>

